<div class="bloc l-bloc bgc-white" id="bloc-1">
	<div id="feed" >
		<div id="feedBg">
			<!-- <span class="empty-column"> -->
				<ul id="messages" class="list-group">
				</ul>
			<!-- </span> -->
		</div>
	</div>
	<div class="profile sidebar ">
	<img style="width:100%"src="http://images2.browardpalmbeach.com/imager/silky-johnson-player-hater-of-the-year/u/original/6423004/pimped_out_chappelle1.jpg"/>
	<h3 >{{profile.userName}}</h3>
		<input ng-model="profile.userName" id="username" class="form-control" type="text" placeholder="Enter User Name"></input>
			<button ng-click="login()"  ng-hide="authData">LOGIN</button>
			<button ng-click="logout()" ng-show="authData">LOGOUT</button>
	</div>
</div>

<!-- Footer - chatbox -->
	<div class="bloc bgc-lincoln-green d-bloc" id="chatbox" >
		<div class="container bloc-sm">
			<div class="row inputBox">
			<form ng-show="authData" class="form-group" ng-submit="newMessage()">
						
				<div class="input-group">
					<input id="m"class="form-control" type="text" autocomplete="off"></input>
			      <span class="input-group-btn">
			        <button class="btn btn-secondary" type="submit">Go!</button>
			      </span>
			    </div>
			</form>
			</div>
		</div>
	</div>